h1 {
  text-align: center;
}
.aligncenter {
  text-align: center;
}

.navbar {
    font-family: 'Oswald', sans-serif !important;
}

p, address {
    font-family: 'Calibri', sans-serif;
}

section.pricing {
  background-color: #F0FFFF;

}

.pricing .card {
  border: none;
  border-radius: 15px;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  min-width: 320px;
  margin-top: 6px;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */
@media (min-width: 1100px) {
  .pricing .card:hover {
    margin-top: -.15rem;
    margin-bottom: .15rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  div.profile {
    width:500px;
    margin: auto;
    border: 0.5px solid #38ad9d;
    margin-top: -.15rem;
    margin-bottom: .15rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}