<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<link th:href="@{css/index.css}" href="css/index.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
<head>

<title>Border Info</title>


</head>

<body>
<div layout:fragment="Content">
<h1> Adott határ információk: </h1>

    <div align="center">
        <h3 th:text="${borders.get(0).name}"></h3>
        <h4 th:if="${borders.get(0).name.contains('Beregsurány')}"> Nyitvatartási idő:  0 - 24 </h4>
        <h4 th:if="${borders.get(0).name.contains('Záhony')}"> Nyitvatartási idő:  0 - 24 </h4>
        <h4 th:if="${borders.get(0).name.contains('Tiszabecs')}"> Nyitvatartási idő:  0 - 24 </h4>
        <h4 th:if="${borders.get(0).name.contains('Barabás')}"> Nyitvatartási idő:  7:00 - 19:00 </h4>
        <h4 th:if="${borders.get(0).name.contains('Lónya')}"> Nyitvatartási idő:  7:00 - 18:00 </h4>
        <br>

        <table role="table" class="table-hover">
            <thead role="rowgroup">
            <tr role="row"  style="text-align: center">
                <th role="columnheader">#</th>
                <th role="columnheader">Autók száma</th>
                <th role="columnheader">Várakozási idő</th>
                <th role="columnheader">Beküldés dátuma</th>
                <th role="columnheader">Beküldő</th>
                <th role="columnheader">Értékelés</th>
            </tr>
            </thead>
            <tbody role="rowgroup">
            <tr th:each="border, stat : ${borders}">
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${border.cars}"></td>
                <td th:text="${border.waiting_time}"></td>
                <td th:text="${border.date}"></td>
                <td th:text="${border.username}"></td>
                <td>
                    <!-- Write your comments here
                     <form id="ratingForm">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                        </fieldset>
                    </form>
                    -->
                    *****
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    </div>

<script>
    $(document).ready(function() {
        $("form#ratingForm").submit(function(e)
        {
            e.preventDefault(); // prevent the default click action from being performed
            if ($("#ratingForm :radio:checked").length == 0) {
                $('#status').html("nothing checked");
                return false;
            } else {
                $('#status').html( 'You picked ' + $('input:radio[name=rating]:checked').val() );
            }
        });
    });
</script>

</body>
</html>
