<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
	<title>Border Info</title>
	<link th:href="@{css/login.css}" href="css/login.css" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="loginContent" align="center">

	<form name="login" th:action="@{/login}" method="post" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<div id="err" th:if="${param.error}" class="alert alert-danger">Wrong username or password!</div>
		<div th:if="${param.logout}" class="alert alert-success">Logout successful</div>
		<label for="username" class="sr-only">Username</label>
		<input type="text" id="username" name="username" class="form-control" placeholder="Felhasználói név" required="true" />
		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required="true" />
		<div class="checkbox">
			<label> <input id="remember-me" name="remember-me" type="checkbox" /> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	</form>
	<a class="btn btn-success" href="/registration" role="button">Sign up</a>
</div>

</body>
</html>