<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<link th:href="@{css/index.css}" href="css/index.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
<head>

<title>Border Info</title>


</head>

<body>
<div layout:fragment="Content">

    <div class="d-flex justify-content-center">
    <form name="addborder" th:action="@{/addborder}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Add meg a határ infókat!</h2>

        <div class="form-group">
        <label for="name">Határ neve?</label>
        <select class="form-control" id="name" name = "name">
            <option th:each="border : ${borders}"
                    th:value="${border}"
                    th:utext="${border}"/>
        </select>
            </div>

        <input type="text" id="cars" name="cars" class="form-control" placeholder="Hány autó áll a sorban?" />
        <input type="text" id="waiting_time" name="waiting_time" class="form-control" placeholder="Várakozási idő?" />
        <hr>
        <button class="btn btn-success btn-block" type="submit">Beküldés</button>
    </form>
        </div>

    </div>
</body>
</html>
