<!DOCTYPE html>
<html lang="en"
	  layout:decorator="layouts/main">
<head>
<title>Border Info</title>
	<link th:href="@{css/login.css}" href="css/login.css" rel="stylesheet"/>
</head>

<body>

<div layout:fragment="Content" align="center">

		<form name="registration" th:action="@{/register}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Kérlek regisztrálj be</h2>
		 	    <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználói név"  />
			    <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" />
			<button class="btn btn-success btn-block" type="submit">Regisztráció</button>
		</form>

</div>

</body>
</html>