<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{css/index.css}" href="css/index.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
<head>

<title>Border Info</title>


</head>

<body>
<h1> Adott határ információk: </h1>

<article th:each="border : ${border_infos}">

<header>
<h2 th:text="'Határ neve: ' + ${border.name}">Határ neve</h2>
<p th:text="'Dátum: ' + ${#dates.format(border.posted,'yyyy.MM.dd,  HH:mm')}">Dátum</p>
</header>

<section>
<p th:text=" 'Várakozó autók száma: ' + ${border.cars}">Autók száma</p>
</section>

<footer>
<address>
    <span th:text="'Beküldte: ' + ${border.user.username}">Beküldő</span >
</address>
</footer>

</hr>
</article>

</body>
</html>
