<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap CSS -->
    <link th:href="@{css/index.css}" href="index.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>Border Info</title>
</head>
<style>
    body
    {
        background-color: #E7FFF7;
    }
    h4 {
        color: #008080;
        display: block;
        font-size: 1.4em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        font-family: "Sitka Display";
    }
    .star {
        visibility:hidden;
        font-size:35px;
        cursor:pointer;
    }
    .star:before {
        content: "\2605";
        position: absolute;
        visibility:visible;
    }
    .star:checked:before {
        content: "\2606";
        position: absolute;
    }
</style>
<body>

<a href="/"  style="color:#008080;; text-decoration:none" >
    <h1 class="display-4" th:text="#{title}">Border Info</h1>
</a>

<nav class="navbar navbar-light navbar-expand-xl bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon">
        </span>
    </button>
</nav>
<nav class="navbar navbar-light navbar-expand-xl bg-faded justify-content-center font-weight-bold">
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-start">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="flag-icon flag-icon-us"> </span> English</a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href=""><span class="flag-icon flag-icon-hu"> </span>  Hungarian</a>
                <a class="dropdown-item" href=""><span class="flag-icon flag-icon-ua"> </span>  Ukranian </a>
            </div>
        </ul>
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/my_borders">My borders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistics">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My profile</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item" style="border-right:1px solid #84B6D0;">
                <form sec:authorize="isAuthenticated()" id="frmlogout2" class="form-inline">
               <a class="nav-link">Logged in, as: <span style="color:#008080;font-weight:bold" sec:authentication="name"></span> </a>
                </form>
        </li>
            <li class="nav-item">
                    <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
                        <a class="nav-link" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
                    </form>
            </li>
        </ul>
    </div>
</nav>

<section class="pricing py-2">
  <div class="container-fluid">

    <div class="card-deck justify-content-center">
      <div class="col-lg-3,5">
        <div class="card mb-5 mb-lg-5 text-center">
            <input class="star" align="right" type="checkbox" title="bookmark page">
          <div class="card-body">
              <p class="aligncenter">
              <h4 class="display-6">
              <img src="images/hu.png" alt="Italian Trulli" height="25" width="25">
               Beregsurány ->
                  <img src="images/ua.png" alt="Italian Trulli" height="25" width="25">
              Asztély</h4>
              </p>
            <hr>
            <ul class="fa-ul list-inline mx-auto justify-content-center">
              <li><span  class="fa-li"><i class="fas fa-check"></i></span>
                  <img src="images/car.png" alt="Italian Trulli" height="25" width="25">
                  Autók száma: 6</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  <img src="images/clock.png" alt="Italian Trulli" height="25" width="25">
                  Várakozási idő: 1 óra 30 perc</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.06.</li>
            </ul>
          </div>
            <div class="progress md-progress" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
          </div>
        </div>


        <div class="col-lg-3,5">
            <div class="card mb-5 mb-lg-5 text-center">
                <div class="card-body">
                    <h4 class="display-6">Asztély -> Beregsurány</h4>
                    <hr>
                    <ul class="fa-ul list-inline mx-auto justify-content-center">
                        <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                    </ul>
                </div>
                <div class="progress md-progress" style="height: 7px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
            </div>
        </div>


        <div class="col-lg-3,5">
            <div class="card mb-5 mb-lg-5 text-center">
                <div class="card-body">
                    <h4 class="display-6">Barabás -> Kaszony</h4>
                    <hr>

                    <ul class="fa-ul list-inline mx-auto justify-content-center">
                        <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                    </ul>
                </div>
                <div class="progress md-progress" style="height: 7px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
            </div>
        </div>

        <div class="col-lg-3,5">
            <div class="card mb-5 mb-lg-5 text-center">
                <div class="card-body">
                    <h4 class="display-6">Kaszony -> Barabás</h4>
                    <hr>

                    <ul class="fa-ul list-inline mx-auto justify-content-center">
                        <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                    </ul>
                </div>
                <div class="progress md-progress" style="height: 7px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
            </div>
        </div>


        <div class="col-lg-3,5">
            <div class="card mb-5 mb-lg-5 text-center">
                <div class="card-body">
                    <h4 class="display-6">Záhony -> Csap</h4>
                    <hr>

                    <ul class="fa-ul list-inline mx-auto justify-content-center">
                        <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                    </ul>
                </div>
                <div class="progress md-progress" style="height: 7px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
            </div>
        </div>

                <div class="col-lg-3,5">
                    <div class="card mb-5 mb-lg-5 text-center">
                        <div class="card-body">
                            <h4 class="display-6">Csap -> Záhony</h4>
                            <hr>

                            <ul class="fa-ul list-inline mx-auto justify-content-center">
                                <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                            </ul>
                        </div>
                        <div class="progress md-progress" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
                    </div>
                </div>


                <div class="col-lg-3,5">
                    <div class="card mb-5 mb-lg-5 text-center">
                        <div class="card-body">
                            <h4 class="display-6">Tiszabecs -> Tiszaújlak</h4>
                            <hr>
                            <ul class="fa-ul list-inline mx-auto justify-content-center">
                                <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                            </ul>
                        </div>
                        <div class="progress md-progress" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
                    </div>
                </div>

                <div class="col-lg-3,5">
                    <div class="card mb-5 mb-lg-5 text-center">
                        <div class="card-body">
                            <h4 class="display-6">Tiszaújlak -> Tiszabecs</h4>
                            <hr>
                            <ul class="fa-ul list-inline mx-auto justify-content-center">
                                <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                            </ul>
                        </div>
                        <div class="progress md-progress" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
                    </div>
                </div>


                <div class="col-lg-3,5">
                    <div class="card mb-5 mb-lg-5 text-center">
                        <div class="card-body">
                            <h4 class="display-6">Lónya -> Harangláb</h4>
                            <hr>
                            <ul class="fa-ul list-inline mx-auto justify-content-center">
                                <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                            </ul>
                        </div>
                        <div class="progress md-progress" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
                    </div>
                </div>


                <div class="col-lg-3,5">
                    <div class="card mb-5 mb-lg-5 text-center">
                        <div class="card-body">
                            <h4 class="display-6">Harangláb -> Lónya</h4>
                            <hr>
                            <ul class="fa-ul list-inline mx-auto justify-content-center">
                                <li><span  class="fa-li"><i class="fas fa-check"></i></span>Autók száma: 46</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Várakozási idő: 4 óra 15 perc</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Utolsó információ: 2020.03.08.</li>
                            </ul>
                        </div>
                        <div class="progress md-progress" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <a href="/border" class="btn btn-info text-uppercase">Details / Add Info</a>
                    </div>
                </div>

    </div>
    </div>
</section>

<br>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
