<!DOCTYPE html>
<html lang="hu"	layout:decorator="layouts/main">
<head>
	<title>Profile</title>
</head>
<body>
		
	<div layout:fragment="Content">
		<h3>My profile</h3>


		<div class="row align-items-center justify-content-center" >
			<div class="profile">
		<div class="text-center">
		<div class="list-group">
			<a href="/my_borders" class="list-group-item list-group-item-action"  style="color:#008080; font-weight: 500;">My borders</a>
			<a href="#" class="list-group-item list-group-item-action list-group-item-warning" style="color:#008080; font-weight: 500;" >View my rating</a>
			<a href="#" class="list-group-item list-group-item-action list-group-item-info"  style="color:#008080; font-weight: 500;">Change password</a>
			<a href="#" class="list-group-item list-group-item-action list-group-item-danger"  style="color:#008080; font-weight: 500;">Delete my account</a>
		</div>
		</div>
		</div>
		</div>

		<div class="row align-items-center justify-content-center" >
		<div class="card" style="width: 25rem;">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
			<div class="card-body">
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>

		</div>

	</div>
</body>
</html>